In [2]:
import pandas as pd
import re
import numpy as np

In [3]:
df = pd.read_csv("D:\echo\data\chatgpt_style_reviews_dataset.xlsx - Sheet1.csv")

df.head()

,date,title,review,rating,username,helpful_votes,review_length,platform,language,location,version,verified_purchase
0,########,Review title 1,"Not satisfied, many bugs and issues.",1,user1,80,6,Amazon,zh,Kenya,2.1.4,No
1,########,Review title 2,Amazing quality and user-friendly interface.,5,user2,180,5,Flipkart,zh,France,1.2.3,No
2,########,Review title 3,"Terrible experience, needs major improvements.",2,user3,154,5,Flipkart,pt,USA,1.2.3,No
3,########,Review title 4,Poor performance and not user-friendly.,1,user4,96,5,Amazon,es,Qatar,2.1.4,Yes
4,########,Review title 5,"Not satisfied, many bugs and issues.",2,user5,139,6,Website,ar,Kenya,2.1.4,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               500 non-null    object
 1   title              500 non-null    object
 2   review             500 non-null    object
 3   rating             500 non-null    int64
 4   username           500 non-null    object
 5   helpful_votes      500 non-null    int64
 6   review_length      500 non-null    int64
 7   platform           500 non-null    object
 8   language           500 non-null    object
 9   location           500 non-null    object
 10  version            500 non-null    object
 11  verified_purchase  500 non-null    object
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [5]:
df.isna().sum()

date                 0
title                0
review               0
rating               0
username             0
helpful_votes        0
review_length        0
platform             0
language             0
location             0
version              0
verified_purchase    0
dtype: int64

In [6]:
df = df.dropna(subset=["review", "rating"])

In [7]:
def get_sentiment(rating):
    if rating >= 4:
        return "Positive"
    elif rating == 3:
        return "Neutral"
    else:
        return "Negative"

df["sentiment"] = df["rating"].apply(get_sentiment)

In [8]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+", "", text)        # remove URLs
    text = re.sub(r"[^a-z\s]", "", text)       # remove special chars
    text = re.sub(r"\s+", " ", text).strip()  # remove extra spaces
    return text

In [9]:
df["clean_review"] = df["review"].apply(clean_text)

df[["review", "clean_review"]].head()

,review,clean_review
0,"Not satisfied, many bugs and issues.",not satisfied many bugs and issues
1,Amazing quality and user-friendly interface.,amazing quality and userfriendly interface
2,"Terrible experience, needs major improvements.",terrible experience needs major improvements
3,Poor performance and not user-friendly.,poor performance and not userfriendly
4,"Not satisfied, many bugs and issues.",not satisfied many bugs and issues

In [10]:
df["sentiment"].value_counts()

sentiment
Positive    200
Negative    195
Neutral     105
Name: count, dtype: int64

In [11]:
df.head()

,date,title,review,rating,username,helpful_votes,review_length,platform,language,location,version,verified_purchase,sentiment,clean_review
0,########,Review title 1,"Not satisfied, many bugs and issues.",1,user1,80,6,Amazon,zh,Kenya,2.1.4,No,Negative,not satisfied many bugs and issues
1,########,Review title 2,Amazing quality and user-friendly interface.,5,user2,180,5,Flipkart,zh,France,1.2.3,No,Positive,amazing quality and userfriendly interface
2,########,Review title 3,"Terrible experience, needs major improvements.",2,user3,154,5,Flipkart,pt,USA,1.2.3,No,Negative,terrible experience needs major improvements
3,########,Review title 4,Poor performance and not user-friendly.,1,user4,96,5,Amazon,es,Qatar,2.1.4,Yes,Negative,poor performance and not userfriendly
4,########,Review title 5,"Not satisfied, many bugs and issues.",2,user5,139,6,Website,ar,Kenya,2.1.4,No,Negative,not satisfied many bugs and issues

In [13]:
import os

os.makedirs("data", exist_ok=True)

In [16]:
import os

# Go one level up from notebooks → project root
DATA_DIR = "../data"

os.makedirs(DATA_DIR, exist_ok=True)

df.to_csv(os.path.join(DATA_DIR, "clean_reviews.csv"), index=False)

print("✅ Cleaned dataset saved successfully in project root data folder")

✅ Cleaned dataset saved successfully in project root data folder